Registrar nova venda

<div class="row">
  <div class="col-6">
    <div class="panel-cashback text-center">
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit(form.value)">
        <div class="form-group">
          <p-dropdown
            [options]="items"
            placeholder="Selecione o produto"
            formControlName="product">
          </p-dropdown>
        </div>
      
        <div class="form-group">
          <input
            pInputText
            currencyMask 
            type="text"
            [options]="currencySetup"
            formControlName="value" />
        </div>
        <button type="submit" class="btn btn-info">
          Adicionar venda
        </button>
      </form>
    </div>
  </div>

  <div class="col-6">
    <div class="panel-cashback text-center">
      <div>
        <div *ngIf="wallet.length > 0; else noItems">
          <div class="row">
            <div class="col-6">
              produto
            </div>
            <div class="col-6">
              valor
            </div>
          </div>
          <div *ngFor="let priceItem of wallet" class="row">
            <div class="col-6">
              {{ priceItem?.product }}
            </div>
            <div class="col-6">
                {{ priceItem?.value }}
            </div>
          </div>
        </div>

        <ng-template #noItems>
          Nenhum produto adicionado
        </ng-template>
      </div>

      <div>
        <button
          type="button"
          class="btn btn-success">
          Registrar Venda
        </button>
      </div>
    </div>
  </div>
</div>

<pre>
  {{ form.value | json }}
</pre>